version: "3"

services:
  app:
    image: chorfy/app
    environment:
      - RDS_DB_NAME=travis_ci_test
      - RDS_USERNAME=postgres
      - RDS_HOSTNAME=postgres
      - RDS_PORT=5432
    ports:
      - "8000:8000"
    command: /app/utils/wait-for-it.sh postgres:5432 -- bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
