version: "3"

services:
  app:
    image: chorfy/app
    environment:
      - RDS_DB_NAME=postgres
      - RDS_USERNAME=postgres
      - RDS_HOSTNAME=db
      - RDS_PORT=5432
    ports:
      - "8000:8000"
    command: /app/utils/wait-for-it.sh db:5432 -- bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
  db:
    image: postgres:9.6
    ports:
      - "5432:5432"
