sudo: required
language: python
python:
  - "3.6    "
install:
  - pip install flake8
services:
  - docker

before_script:
  - docker build -t chorfy/app ./app

script:
  - flake8 .
  - docker run chorfy/app /bin/sh -c "python manage.py test --testrunner=chorfy.core.test_runners.NoDbTestRunner"
