sudo: required
language: python
python:
  - "3.6"

install:
  - pip install flake8

addons:
  postgresql: "9.6"

env:
  global:
    - PGPORT=5432

services:
  - docker
  - postgresql

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - docker build -t chorfy/app ./app

script:
  - flake8 .
  - docker-compose -f resources/compose/docker-compose.test.yml run app /app/utils/wait-for-it.sh localhost:5432 -- /bin/sh -c "python manage.py test --no-input"
